<template>
    <div class="latest">
        {{ caption }}:
        <span class="job-date"
              v-bind:class="[{ 'text-success': last_job_status === 'success'}, {'text-danger': last_job_status === 'failed' }]">{{ last_job_date_finished }}</span>
        <span v-if="last_job_status === 'failed'" class="job-date text-success"> {{ last_successful_job_date_finished }}</span>
    </div>
</template>

<script>
    export default {
        name: 'DataSourceServiceType',
        props: {
            caption: {
                type: String,
                required: true
            },
            last_successful_job_date_finished: {
                type: String,
                required: true
            },
            last_job_date_finished: {
                type: String,
                required: true
            },
            last_job_status: {
                type: String,
                required: true
            },
        }
    }
</script>

<style scoped>

    .latest {
        font-size: .9rem;
    }

    .job-date {
        font-weight: 700;
    }

</style>
