<template>
    <span class="job-status"
          v-bind:class="[{ 'text-success': status === 'success'}, {'text-danger': status === 'failed' }]"
    >
        <font-awesome-icon icon="circle" />
    </span>
</template>

<script>
    import { library } from '@fortawesome/fontawesome-svg-core'
    import { faCircle } from '@fortawesome/free-solid-svg-icons'
    import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

    library.add(faCircle)

    export default {
        name: 'JobStatus',
        components: {
            'font-awesome-icon': FontAwesomeIcon
        },
        props: {
            status: {
                type: String,
                required: true
            }
        }
    }
</script>

<style scoped>

    .job-status {
        display: inline-block;
        width: 1rem;
    }

</style>
